<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <button type="button" class="collapsible logo-font font-weight-bold mr-5">Club Overview</button>
            <div class="content">
                <h5>
                    Impulse is the brand new gym in London. Our mission to encourage people to be active.
                    The key elements is affordable membership fees, no fixed term contracts, and you can choose
                    betweet 1 day, 1 month or 1 year membership.
                </h5>
            </div>
        </li>

        <li class="nav-item dropdown">
            <button type="button" class="collapsible logo-font font-weight-bold mr-5">Timetable</button>
            <div class="content">
                <div class="container" id="timetable">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center mb30">
                            <h2>CLASSES TIMETABLE</h2>
                        </div>
                        <div class="table-responsive">
                            <table class="timetable table table-striped ">
                                <thead>
                                    <tr class="text-center">
                                        <th scope="col"></th>
                                        <th scope="col">Monday</th>
                                        <th scope="col">Tuesday</th>
                                        <th scope="col">Wednesday</th>
                                        <th scope="col">Thursday</th>
                                        <th scope="col">Friday</th>
                                        <th scope="col">Saturday</th>
                                        <th scope="col">Sunday</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">08:00 Am - 09:00 Am</th>
                                        <td class="timetable-workout">Pilates
                                            <br> 08:15 AM - 09:00 AM
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td class="timetable-workout">Yoga
                                            <br> 08:05 AM - 08:40 AM
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">10:00 Am - 11:00 Am</th>
                                        <td></td>
                                        <td class="timetable-workout">Step
                                            <br> 10:00 AM - 10:30 AM
                                        </td>
                                        <td></td>
                                        <td class="timetable-workout">Yoga
                                            <br> 10:15 AM - 11:00 AM
                                        </td>
                                        <td></td>
                                        <td class="timetable-workout">HIIT
                                            <br> 10:05 AM - 10:35 AM
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">04:00 PM - 05:00 PM</th>
                                        <td class="timetable-workout">HIIT
                                            <br> 04:00 PM - 04:45 PM
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td class="timetable-workout">Pilates
                                            <br> 04:30 PM - 05:00 PM
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">06:00 PM - 07:00 PM</th>
                                        <td></td>
                                        <td></td>
                                        <td class="timetable-workout">Yoga
                                            <br> 06:15 PM - 07:00 PM
                                        </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown">
            <button type="button" class="collapsible logo-font font-weight-bold mr-5">Club Facilities</button>
            <div class="content">
                <div class="card-deck" >
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="/media/allgym1.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Main Gym Floor</h4>
                            <p class="card-text">
                                Our main gym floor is equiped with the latest gym equipment. Following is just small example: <strong>skillmill</strong> (which is self-powered, 
                                that let you train body and is fully controled by you ), <strong>kettlebells</strong> (allowing you to develop almost every 
                                aspect of your fitness, from endurance and strength to agility and balance).
                            </p>
                        </div>
                    </div>
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="/media/swimmingpool1.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Swimming Pool</h4>
                            <p class="card-text">
                                Our swimming pool is 16 meters long with 3 lines. It has integrated UV cleaning system.
                                It is perfect place to fine-tune your bilateral breathing or learn how to swim with instructor.
                            </p>
                        </div>
                    </div>
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="/media/groupsession2.jpg" alt="Card image">
                        <div class="card-body">
                            <h4 class="card-title">Studio for classes</h4>
                            <p class="card-text">
                                With mood lighting and calming music, our studios will restore your inner zen. We offer a range 
                                of classes including pilates and yoga. When studio is not occupied with lessons you can freely 
                                use it for individual exercise or calming stretching.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown">
                <a class="collapsible logo-font font-weight-bold mr-5 nav-link text-black" href="{% url 'packages' %}" aria-haspopup="true" aria-expanded="false">
                    Packages
                </a>
        </li>
    </ul>
</div>
{% block postloadjs %}
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
{% endblock %}