<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <button type="button" class="collapsible logo-font font-weight-bold mr-5">Club Overview</button>
            <div class="content">
                <p>Lorem ipsum...</p>
            </div>
        </li>

        <li class="nav-item dropdown">
            <button type="button" class="collapsible logo-font font-weight-bold mr-5">Timetable</button>
            <div class="content">
                <p>Lorem ipsum...</p>
            </div>
        </li>

        <li class="nav-item dropdown">
            <button type="button" class="collapsible logo-font font-weight-bold mr-5">Club Facilities</button>
            <div class="content">
                <p>Lorem ipsum...</p>
            </div>
        </li>

        <li class="nav-item dropdown">
                <a class="collapsible logo-font font-weight-bold mr-5 nav-link" href="{% url 'packages' %}" aria-haspopup="true" aria-expanded="false">
                    Packages
                </a>
        </li>
    </ul>
</div>
{% block postloadjs %}
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
{% endblock %}