{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content%}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Club Overview</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="content">
                <h5>
                    Impulse is the brand new gym in London. Our mission to encourage people to be active.
                    The key elements is affordable membership fees, no fixed term contracts, and you can choose
                    betweet 1 day, 1 month or 1 year membership.
                </h5>
            </div>
        </div>
    </div>
{% endblock %}