{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content%}
    <div class="overlay"></div>
    <div class="container">
        <div class="row bg-dark">
            <div class="col text-center mt-3">
                <h2 class="logo-font text-white">Club Overview</h2>
                <hr class="w-50 mb-5 bg-white">
            </div>
        </div>
        <div class="row bg-dark text-white">
            <div class="package-container col-10 offset-1 mb-5">
                <h3 class="p-2">
                    Impulse is the brand new gym in London.
                </h3>
                <h3 class="p-2">
                    Our mission to encourage people to be active.
                </h3>
                <h3 class="p-2">
                    The key elements is affordable membership fees, no fixed term contracts, and you can choose
                    betweet 1 day, 1 month or 1 year membership.
                </h3>
            </div>
        </div>
    </div>
{% endblock %}